@import './lib-variable';
@import './lib-mixin';

.fade-enter {
    opacity: 0;
    transform: translateX(100%);
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 200ms ease-in;
}

.fade-exit {
    opacity: 1;
    transform: translateX(0);
}

.fade-exit, .fade-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 200ms ease-out;
}


.fade-appear {
    opacity: 0.01;
}
.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}
