@import "./lib-variable";
@import "./lib-mixin";

.c-recommend {
  position: fixed;
  width: 100%;
  top: 88px;
  bottom: 0;
  .recommend--content {
    height: 100%;
    overflow: hidden;
    .recommend__slider {
      position: relative;
      width: 100%;
      overflow: hidden;
    }
    .recommend__list {
      .list__title {
        height: 65px;
        line-height: 65px;
        text-align: center;
        font-size: 14px;
        color: #ffcd32;
      }
    }
  }
}
