@import "./lib-variable";
@import "./lib-mixin";

.o-listview {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #222;
  .listview__group {
    padding-bottom: 30px;
    .group__title {
      height: 30px;
      line-height: 30px;
      padding-left: 20px;
      font-size: 12px;
      color: rgba(255,255,255,0.5);
      background: #333;
    }
    .group__item {
      display: flex;
      align-items: center;
      padding: 20px 0 0 30px;
      .item__avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      .item__name {
        margin-left: 20px;
        color: rgba(255,255,255,0.5);
        font-size: 14px;
      }
    }
  }
  .list-shortcut {
    position: absolute;
    z-index: 30;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    padding: 20px 0;
    border-radius: 10px;
    text-align: center;
    background: rgba(0,0,0,0.3);
    font-family: Helvetica;
    .shortcutList__item {
      padding: 3px;
      line-height: 1;
      color: rgba(255,255,255,0.5);
      font-size: 12px;
      &.shortcutList__item--current {
        color: #ffcd32;
      }
    }
  }
  .list-fixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .fixed-title {
      height: 30px;
      line-height: 30px;
      padding-left: 20px;
      font-size: 12px;
      color: rgba(255,255,255,0.5);
      background: #333;
    }
  }
}
