//按钮样式
@import '~common/css/_lib-variable';
@import '~common/css/_lib-mixin';

.c-site-header {
  position: relative;
  @include flex(space-between);
  @include font-dpr(18px);
  padding: 0 4px;
  height: 44px;
  color: #ffcd32;
  .site-header__icon {
    width: 30px;
    height: 32px;
    background-size: 30px 32px;
    @include bg-image('logo');
  }
  .site-header__mine {
    display: block;
    font-size: 20px;
    .icon-mine {
      color: #ffcd32;
    }
  }
}


// .m-header
//   position: relative
//   height: 44px
//   text-align: center
//   color: $color-theme
//   font-size: 0
//   .icon
//     display: inline-block
//     vertical-align: top
//     margin-top: 6px
//     width: 30px
//     height: 32px
//     margin-right: 9px
//     @include bg-image('logo')
//     background-size: 30px 32px
//   .text
//     display: inline-block
//     vertical-align: top
//     line-height: 44px
//     font-size: $font-size-large
//   .mine
//     position: absolute
//     top: 0
//     right: 0
//     .icon-mine
//       display: block
//       padding: 12px
//       font-size: 20px
//       color: $color-theme
